    body {
      margin: 0;
      overflow: hidden;
      background: black;
      touch-action: none;
    }

    canvas {
      display: block;
    }

    /* =========================
       TOP LEFT GUI CIRCLE
    ========================= */
    #guiStart {
      position: fixed;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 9999;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.5) url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+CiAgCiAgPCEtLSBEZWZpbmUgbWFzayAtLT4KICA8bWFzayBpZD0iaG9sZU1hc2siPgogICAgPCEtLSBXaGl0ZSA9IHZpc2libGUsIGJsYWNrID0gaGlkZGVuIC0tPgogICAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9IndoaXRlIi8+CiAgICA8cmVjdCB4PSIzNSIgeT0iMzUiIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgZmlsbD0iYmxhY2siLz4KICA8L21hc2s+CgogIDwhLS0gVG9wLWxlZnQgdHJpYW5nbGUgLS0+CiAgPHBvbHlnb24gcG9pbnRzPSIyMCwyMCA4MCwyMCAyMCw4MCIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMTExIiBzdHJva2Utd2lkdGg9IjAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00LCAtNCkiIG1hc2s9InVybCgjaG9sZU1hc2spIi8+CgogIDwhLS0gQm90dG9tLXJpZ2h0IHRyaWFuZ2xlIC0tPgogIDxwb2x5Z29uIHBvaW50cz0iODAsODAgODAsMjAgMjAsODAiIGZpbGw9IiNmZmYiIHN0cm9rZT0iIzExMSIgc3Ryb2tlLXdpZHRoPSIwIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg0LCA0KSIgbWFzaz0idXJsKCNob2xlTWFzaykiLz4KICAKPC9zdmc+Cg==') no-repeat center center;

  background-size: 80%;
    }
    
    #guiMenu {
      position: fixed;
      top: 10px;
      left: 60px;
      width: 40px;
      height: 40px;
      border-radius: 50px 0 0 50px;
      z-index: 9999;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.5) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBMaWNlbnNlOiBQRC4gTWFkZSBieSBtb25vLWNvbXBhbnk6IGh0dHBzOi8vZ2l0aHViLmNvbS9tb25vLWNvbXBhbnkvbW9uby1pY29ucyAtLT4KPHN2ZyB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNCA3YTEgMSAwIDAgMSAxLTFoMTRhMSAxIDAgMSAxIDAgMkg1YTEgMSAwIDAgMS0xLTF6bTAgNWExIDEgMCAwIDEgMS0xaDE0YTEgMSAwIDEgMSAwIDJINWExIDEgMCAwIDEtMS0xem0wIDVhMSAxIDAgMCAxIDEtMWgxNGExIDEgMCAxIDEgMCAySDVhMSAxIDAgMCAxLTEtMXoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=') no-repeat center center;

  background-size: 90%;
    }

    #guiChat {
      position: fixed;
      top: 10px;
      left: 100px;
      width: 40px;
      height: 40px;
      border-radius: 0;
      z-index: 9999;
      pointer-events: none;
      background: rgba(0, 0, 0, 0.5) url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyBmaWxsPSIjZmZmZmZmIiB3aWR0aD0iMTAwcHgiIGhlaWdodD0iMTAwcHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciID48cGF0aCBkPSJNOTYgMzY4UTgzIDM2OCA3NCAzNTkgNjQgMzQ5IDY0IDMzNkw2NCAxMjhRNjQgMTE0IDc0IDEwNSA4MyA5NiA5NiA5Nkw0MTYgOTZRNDMwIDk2IDQzOSAxMDUgNDQ4IDExNCA0NDggMTI4TDQ0OCAzMzZRNDQ4IDM0OSA0MzkgMzU5IDQzMCAzNjggNDE2IDM2OEwyNTYgMzY4IDE2MCA0NjQgMTYwIDM2OCA5NiAzNjhaIiAvPjwvc3ZnPg==') no-repeat center center;

  background-size: 90%;
    }
    
    #guiEmote {
      position: fixed;
      top: 10px;
      left: 140px;
      width: 40px;
      height: 40px;
      border-radius: 0 50% 50% 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      pointer-events: none;
    }
    
    /* =========================
       JOYSTICK
    ========================= */
    #joystick {
      position: fixed;
      bottom: 30px;
      left: 30px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: rgba(255,255,255,0.08);
      border: 2px solid rgba(255,255,255,0.25);
      display: none;
      touch-action: none;
      z-index: 9999;
    }

    #stick {
      position: absolute;
      width: 55px;
      height: 55px;
      left: 37px;
      top: 37px;
      border-radius: 50%;
      background: rgba(255,255,255,0.35);
    }

    /* =========================
       JUMP BUTTON
    ========================= */
    #jumpBtn {
      position: fixed;
      bottom: 55px;
      right: 55px;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background: rgba(255,255,255,0.12);
      border: 2px solid rgba(255,255,255,0.30);
      display: none;
      touch-action: none;
      z-index: 9999;
    }

    /* =========================
       HINT BOX
    ========================= */
    #hint {
      position: fixed;
      top: 10px;
      right: 10px;
      color: white;
      font-size: 14px;
      padding: 10px 14px;
      border-radius: 18px;
      background: rgba(0,0,0,0.5);
      z-index: 9999;
      }
